@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#container{
    height: 100vh;
}

#head{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

#btn{
    width: 150px;
    border-radius: 20px;
    margin-top: 10px;
}